body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('bg/Wave.svg');
}

.header {
    position:fixed;
    top: 20;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background-color: '#000000';
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #3daefa;
}


.content {
    height: 2000px; /* Just to make the page scrollable for demonstration */
  }

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}